<div class="col-md-4 col-xs-6">
    <ul class="list-inline social-media">
        {{ with .Site.Social.twitter }}
            <li><a target="_blank" href="{{ . }}"><i class="fa fa-twitter fa-lg"></i></a></li>
        {{ end }}
        {{ with .Site.Social.googleplus }}
            <li><a target="_blank" href="{{ . }}"><i class="fa fa-google-plus-square fa-lg"></i></a></li>
        {{ end }}
        {{ with .Site.Social.facebook }}
            <li><a target="_blank" href="{{ . }}"><i class="fa fa-facebook fa-lg"></i></a></li>
        {{ end }}
        {{ with .Site.Social.linkedin }}
            <li><a target="_blank" href="{{ . }}"><i class="fa fa-linkedin fa-lg"></i></a></li>
        {{ end }}
        {{ with .Site.Social.youtube }}
            <li><a target="_blank" href="{{ . }}"><i class="fa fa-youtube fa-lg"></i></a></li>
        {{ end }}
        {{ with .Site.Social.paypal }}
            <li><a target="_blank" href="{{ . }}"><i class="fa fa-paypal fa-lg"></i></a></li>
        {{ end }}
        {{ with .Site.Social.instagram }}
            <li><a target="_blank" href="{{ . }}"><i class="fa fa-instagram fa-lg"></i></a></li>
        {{ end }}
        {{ with .Site.Social.wordpress }}
            <li><a target="_blank" href="{{ . }}"><i class="fa fa-wordpress fa-lg"></i></a></li>
        {{ end }}
        {{ with .Site.Social.pinterest }}
            <li><a target="_blank" href="{{ . }}"><i class="fa fa-pinterest fa-lg"></i></a></li>
        {{ end }}
        {{ with .Site.Social.email }}
            <li><a target="_blank" href="{{ . }}"><i class="fa fa-envelope fa-lg"></i></a></li>
        {{ end }}
        {{ with .Site.Social.reddit }}
            <li><a target="_blank" href="{{ . }}"><i class="fa fa-reddit fa-lg"></i></a></li>
        {{ end }}
    </ul>
</div>
