<div class="row">
    <div class="col-md-12 content-card">
        <h1>{{ .Title }}</h1>
            {{ $categoryCount := .Params.categories | len }}
            <ul class="list-inline meta">
                <li><i class="fa fa-calendar"></i>{{ .Date.Format "January 2, 2006" }}</li>
                <li><i class="fa fa-user"></i>{{ .Params.author }}</li>
                {{ if isset .Params "categories" }}
                    {{ $categoryCount := .Params.categories | len }}
                    <li>
                        <i class="fa fa-folder"></i>
                        {{ range $index, $value := .Params.categories }}
                            <a href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ $value }}</a>
                            {{ if lt (add $index 1) $categoryCount }}, 
                            {{ end }}
                        {{ end }}
                    </li>
                {{ end }}
            </ul>
            {{ if .Params.banner }}
            <img src="{{ .Site.BaseURL }}images/banner/{{ .Params.banner }}" class="banner" height="300px">
            {{ end }}
        {{ partial "widgets/content/share.html" . }}
        {{ .Content }}
        {{ partial "widgets/content/tags.html" . }}
    </div>
</div>
