<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {{ range .Pages }}
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a class="stretched-link text-primary text-decoration-none" href="{{ .RelPermalink }}">
                                {{ .Title }}
                            </a>
                        </h4>
                        <small class="text-muted">{{ .Date | time.Format ":date_long" }}</small>
                        {{ if .Params.thumbnail }}
                            <img class="img-fluid rounded p-2" src="{{ .Params.thumbnail }}" loading="lazy" alt="thumbnail for {{ .Title }}" style="height:200px;object-fit:cover;width:100%;">
                        {{ end }}

                        <p class="card-text mt-3 mb-5" style="min-height: 150px; max-height: 150px; overflow: hidden;">
                            {{ with .Params.description }}
                                {{ . | truncate 100}}
                            {{ else }}
                                {{ .Summary | truncate 200 }}
                            {{ end }}
                        </p>
                    </div>
                </div>
    
            </div>
    {{ end }}
</div>
